<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**
 * Masonary
 */
 
/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Masonry */

.masonry { /* Masonry container */
  column-count: 4;
  margin: 0.5em auto;
  max-width: 768px;
  column-gap: 0.25em;
}

.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.5em;
  width: 100%;
}

/* Figure Caption */

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Tabs */

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
}
</style>

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Oils & Acrlyics')">Oils & Acrlyics</button>
  <button class="tablinks" onclick="openCity(event, 'Watercolors')">Watercolors</button>
  <button class="tablinks" onclick="openCity(event, 'Drawings')">Drawings</button>
</div>
</center>

<div id='Oils & Acrlyics' class='tabcontent'>
<div class='masonry'><div class='item'> 
<img src='/images/SherOils/D1. Untitled (36 x 48 in) 15 Oct 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(1)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D10. Nothing gives me more joy than staring at the moon on a quiet night (23 x 17 in) 5 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(2)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D100. Viktoria (13 x 16 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(3)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D101. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(4)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D102. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(5)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D103. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(6)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D104. Untitled (24 x 24 in) 200x - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(7)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D105. Internal struggle, guy jumping off bridge (30  24 in) 18 Jan 2019 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(8)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D106. J and A (18 x 18 in) 14 Jan 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(9)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D107. Minar-e-Pakistan (29 x 24 in) 201x - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(10)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D108. Nathiagali (26 x 21 in) 19 Jul 2018 - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(11)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D109. First Date, Near Cafe Sjostugan (13 x 16 in) 11 Jan 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(12)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D11. If you are neurtral in situations of injustice, you have chosen the side of the oppressor (MLK) (18 x 18 in) 4 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(13)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D110. New Year (9 x 12 in) 4 Feb 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(14)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D111. Sara - 2017 (Current Location Unknown).jpg' style='width:100%' onclick='openModal();currentSlide(15)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D112. Study of old Lahore - 4 Oct 2018 (Current Location ISB Shameil).jpg' style='width:100%' onclick='openModal();currentSlide(16)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D113. The graveyard, I once slept in a graveyard, it was cool and still - 8 Jun 2018 (Current Location Unknown).jpg' style='width:100%' onclick='openModal();currentSlide(17)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D114. The photograph - 2019 (Current Location DC).jpg' style='width:100%' onclick='openModal();currentSlide(18)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D115. Therapy - 24 Dec 2017 (Current Location Unknown).jpg' style='width:100%' onclick='openModal();currentSlide(19)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D116. What the hell is going on here - 7 Jan 2019 (Current Location Unknown).jpg' style='width:100%' onclick='openModal();currentSlide(20)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D117. Bride - 19th March 2019 - Lahore (Current Location Unknown).jpg' style='width:100%' onclick='openModal();currentSlide(21)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D118. Dream I - 14 Oct 2018 (Current Location DC).jpg' style='width:100%' onclick='openModal();currentSlide(22)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D119. Faiz Mahal, Sindh - 30 Jan 2019 (Current Location DC).jpg' style='width:100%' onclick='openModal();currentSlide(23)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D12. Can't run away from yourself (12 x 12 in) 16 May 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(24)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D120. Find peace in busyness - 19 Dec 2018 (Current Location ISB Shameil).jpg' style='width:100%' onclick='openModal();currentSlide(25)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D121. Heritage trail Peshawar - 8 Oct 2018 (Current Location DC).jpg' style='width:100%' onclick='openModal();currentSlide(26)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D122. Man under tree - 23 Jan 2019 (Current Location DC).jpg' style='width:100%' onclick='openModal();currentSlide(27)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D13. Shelter from the storm (12 x 12 in) 7 May 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(28)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D14. That's me in the corner, that's me in the spotlight (12 x 12 in) 9 May 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(29)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D15. Love in the time of Corona, 2020 (18 x 12 in) 3 May 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(30)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D16. Yes, yes sir, thank you for the opportunity. Very kind of you, while the world burns (12 x 12 in) 6 May 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(31)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D17. Empty faces staring in from the outside (12 x 12 in) 1 May 2020 - Lahore .jpg' style='width:100%' onclick='openModal();currentSlide(32)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D18. Figures in an enclosed room (12 x 12 in) 3 Mar 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(33)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D19. In my mind there is an image in a dark room, where figures point towards me while sounds of laughter and derision saturate the atmosphere (18 x 12 in) 22 Feb 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(34)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D2. All my chickens come home to roost (24 x 24 in) 13 Oct 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(35)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D20. Addiction (12 x 12 in) 19 Feb 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(36)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D21. Grave (12 x 12 in) 17 Feb 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(37)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D22. Full moon (12 x 12 in) 16 Feb 2020.jpg' style='width:100%' onclick='openModal();currentSlide(38)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D23. Journey (12 x 12 in) 15 Feb 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(39)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D24. Under an umbrella (12 x 12 in) 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(40)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D25. Autumn day in barkaby (16 x 13 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(41)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D26. Autumn (13 x 16 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(42)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D27. Badshahi Mosque (29 x 24 in) 16 nov 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(43)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D28. Cityscape (18 x 22 in) 2015 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(44)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D29. Death in a bathtub (13 x 10 in) 16 D 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(45)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D3. Girl on sidewalk (8 x 8 in) 2 Oct 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(46)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D30. Death of Mashal Khan (16 x 13 in) 18 Jan 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(47)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D31. Piece of heaven (13 x 16 in) 17 Feb 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(48)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D32. Police brutality, Sahiwal (36 x 24 in) 28 jan 2019 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(49)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D34. Self-portrait (24 x 30 in) 2012 - Groningen.jpg' style='width:100%' onclick='openModal();currentSlide(50)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D35. Spring (13 x 16 in) 10 Feb 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(51)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D36. Study of imaginary flower (22 x 18 in) 8 Feb 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(52)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D37. Summer (21 x 25 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(53)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D38. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(54)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D38b. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(55)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D39. The embrace (16 x 13 in) 5 Aug 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(56)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D4. View of Badshai Mosque from balcony at night (24 x 24 in) 24 Aug 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(57)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D40. The flood (26 x 21 in) 6 Sep 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(58)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D41. The mirror (24 x 36 in) 26 Dec 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(59)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D42. To paint is to love again (16 x 13 in) 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(60)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D43. Untitled (21 x 26 in) 13 Jul 2018. Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(61)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D44. Untitled (18 x 18 in) 2011. Japan.jpg' style='width:100%' onclick='openModal();currentSlide(62)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D45. View of Hagaparken, Solna (13 x 10 in) 27 D 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(63)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D46. Wednesday (39 x 31 in) 26 Apr 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(64)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D47. Winter (26 x 21 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(65)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D48. Winter evening in Groningen (13 x 11 in) 20xx - Groningen .jpg' style='width:100%' onclick='openModal();currentSlide(66)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D49. Winter solstice (11 x 13 in) 22 Dec 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(67)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D5. The weasels are closing in (18 x 18 in) 11 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(68)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D50. A Wedding (10 x 10 in) 19 March 2019 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(69)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D51. Break on through to the other side (39 x 31 in) 8 Aug 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(70)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D52. Dreams (11 x 8 in) 2 May 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(71)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D53. Drudge (30 x 30 in) 28 Sep 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(72)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D54. Father (36 x 24in) 2019 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(73)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D55. Grand Jamia Mosque (26 x 21 in) 17 Dec 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(74)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D56. I and Lahore (16 x 13 in) 11 May 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(75)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D57. I and my spirit (16 x 13 in) 26 Apr 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(76)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D58. I and Pakistan (22 x 18 in) 18 Sep 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(77)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D59. I, and the graveyard (16 x 13 in) 21 Apr 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(78)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D6. Walk under the bridge (18 x 12 in) 9 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(79)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D60. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(80)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D61. Untitled (24 x 24 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(81)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D62. Untitled (29 x 24 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(82)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D63. Untitled (24 x 24 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(83)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D64. Miguel (16 x 13 in) 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(84)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D65. Margalla Hills (16 x 13 in) 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(85)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D66. Study Hilma Aft Klimt (16 x 13 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(86)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D67. Untitled (10 x 9 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(87)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D68. Untitled (10 x 9 in) 20xx. Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(88)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D7. Empty bowl (18 x 12 in) 7 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(89)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D70. Untitled (9 x 10 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(90)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D72. Untitled (11 x 9 in) 20xx. Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(91)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D73. Untitled (11 x 13 in) 21 Dec 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(92)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D74. Untitled (11 x 13 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(93)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D75. Untitled (13 x 11 in) 23 Feb 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(94)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D76. Untitled (12 x12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(95)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D77. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(96)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D78. Untitled (12 x 9 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(97)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D79. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(98)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D8. There is a world beyond the material. I will meet you there (24 x 24 in) 6 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(99)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D80. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(100)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D81. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(101)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D82. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(102)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D83. Untitled (12 x12 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(103)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D84. Untitled (12 x 12 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(104)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D85. Untitled (20 x 20 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(105)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D86. Untitled (30 x 30 in) 20xx - Japan.jpg' style='width:100%' onclick='openModal();currentSlide(106)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D87. Untitled (12 x12 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(107)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D88. Untitled (12 x 12 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(108)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D89. Untitled (20 x 20 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(109)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D9. Forest dancers under moonlight (24 x 12 in) 5 Jul 2020 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(110)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D90. Untitled (18 x 18 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(111)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D91. Untitled (30 x 24 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(112)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D92. Untitled (24 x 35 in) 20xx - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(113)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D93. Self portrat with cigarette (21 x 25 in) 2017 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(114)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D94. Karachi (24 x 24 in) 21 Jul 2018 - Lahore.jpg' style='width:100%' onclick='openModal();currentSlide(115)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D95. Last glass (13 x 16 in) Feb 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(116)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D96. Life goes on (12 x 18 in) 10 Aug 2018 - Unknown.jpg' style='width:100%' onclick='openModal();currentSlide(117)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D97. Mama, the drugs dont work anymore (10 x 13 in) 20 Jan 2018 - Stockholm.jpg' style='width:100%' onclick='openModal();currentSlide(118)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D98. Untitled (23 x 25 in) 20xx - Unkown.jpg' style='width:100%' onclick='openModal();currentSlide(119)' class='hover-shadow cursor'> </div><div class='item'> 
<img src='/images/SherOils/D99. Untitled (18 x 24 in) .jpg' style='width:100%' onclick='openModal();currentSlide(120)' class='hover-shadow cursor'> </div>
</div>
<div id='myModal' class='modal'> 
<span class='close cursor' onclick='closeModal()'>&times;</span> 
<div class='modal-content'>
<div class='mySlides'>
<figcaption>D1. Untitled (36 x 48 in) 15 Oct 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D1. Untitled (36 x 48 in) 15 Oct 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D10. Nothing gives me more joy than staring at the moon on a quiet night (23 x 17 in) 5 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D10. Nothing gives me more joy than staring at the moon on a quiet night (23 x 17 in) 5 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D100. Viktoria (13 x 16 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D100. Viktoria (13 x 16 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D101. Untitled (16 x 13 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D101. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D102. Untitled (16 x 13 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D102. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D103. Untitled (16 x 13 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D103. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D104. Untitled (24 x 24 in) 200x - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D104. Untitled (24 x 24 in) 200x - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D105. Internal struggle, guy jumping off bridge (30  24 in) 18 Jan 2019 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D105. Internal struggle, guy jumping off bridge (30  24 in) 18 Jan 2019 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D106. J and A (18 x 18 in) 14 Jan 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D106. J and A (18 x 18 in) 14 Jan 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D107. Minar-e-Pakistan (29 x 24 in) 201x - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D107. Minar-e-Pakistan (29 x 24 in) 201x - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D108. Nathiagali (26 x 21 in) 19 Jul 2018 - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D108. Nathiagali (26 x 21 in) 19 Jul 2018 - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D109. First Date, Near Cafe Sjostugan (13 x 16 in) 11 Jan 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D109. First Date, Near Cafe Sjostugan (13 x 16 in) 11 Jan 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D11. If you are neurtral in situations of injustice, you have chosen the side of the oppressor (MLK) (18 x 18 in) 4 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D11. If you are neurtral in situations of injustice, you have chosen the side of the oppressor (MLK) (18 x 18 in) 4 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D110. New Year (9 x 12 in) 4 Feb 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D110. New Year (9 x 12 in) 4 Feb 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D111. Sara - 2017 (Current Location Unknown).jpg</figcaption>
<img src='/images/art/SherOils/D111. Sara - 2017 (Current Location Unknown).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D112. Study of old Lahore - 4 Oct 2018 (Current Location ISB Shameil).jpg</figcaption>
<img src='/images/art/SherOils/D112. Study of old Lahore - 4 Oct 2018 (Current Location ISB Shameil).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D113. The graveyard, I once slept in a graveyard, it was cool and still - 8 Jun 2018 (Current Location Unknown).jpg</figcaption>
<img src='/images/art/SherOils/D113. The graveyard, I once slept in a graveyard, it was cool and still - 8 Jun 2018 (Current Location Unknown).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D114. The photograph - 2019 (Current Location DC).jpg</figcaption>
<img src='/images/art/SherOils/D114. The photograph - 2019 (Current Location DC).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D115. Therapy - 24 Dec 2017 (Current Location Unknown).jpg</figcaption>
<img src='/images/art/SherOils/D115. Therapy - 24 Dec 2017 (Current Location Unknown).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D116. What the hell is going on here - 7 Jan 2019 (Current Location Unknown).jpg</figcaption>
<img src='/images/art/SherOils/D116. What the hell is going on here - 7 Jan 2019 (Current Location Unknown).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D117. Bride - 19th March 2019 - Lahore (Current Location Unknown).jpg</figcaption>
<img src='/images/art/SherOils/D117. Bride - 19th March 2019 - Lahore (Current Location Unknown).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D118. Dream I - 14 Oct 2018 (Current Location DC).jpg</figcaption>
<img src='/images/art/SherOils/D118. Dream I - 14 Oct 2018 (Current Location DC).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D119. Faiz Mahal, Sindh - 30 Jan 2019 (Current Location DC).jpg</figcaption>
<img src='/images/art/SherOils/D119. Faiz Mahal, Sindh - 30 Jan 2019 (Current Location DC).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D12. Can't run away from yourself (12 x 12 in) 16 May 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D12. Can't run away from yourself (12 x 12 in) 16 May 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D120. Find peace in busyness - 19 Dec 2018 (Current Location ISB Shameil).jpg</figcaption>
<img src='/images/art/SherOils/D120. Find peace in busyness - 19 Dec 2018 (Current Location ISB Shameil).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D121. Heritage trail Peshawar - 8 Oct 2018 (Current Location DC).jpg</figcaption>
<img src='/images/art/SherOils/D121. Heritage trail Peshawar - 8 Oct 2018 (Current Location DC).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D122. Man under tree - 23 Jan 2019 (Current Location DC).jpg</figcaption>
<img src='/images/art/SherOils/D122. Man under tree - 23 Jan 2019 (Current Location DC).jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D13. Shelter from the storm (12 x 12 in) 7 May 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D13. Shelter from the storm (12 x 12 in) 7 May 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D14. That's me in the corner, that's me in the spotlight (12 x 12 in) 9 May 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D14. That's me in the corner, that's me in the spotlight (12 x 12 in) 9 May 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D15. Love in the time of Corona, 2020 (18 x 12 in) 3 May 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D15. Love in the time of Corona, 2020 (18 x 12 in) 3 May 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D16. Yes, yes sir, thank you for the opportunity. Very kind of you, while the world burns (12 x 12 in) 6 May 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D16. Yes, yes sir, thank you for the opportunity. Very kind of you, while the world burns (12 x 12 in) 6 May 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D17. Empty faces staring in from the outside (12 x 12 in) 1 May 2020 - Lahore .jpg</figcaption>
<img src='/images/art/SherOils/D17. Empty faces staring in from the outside (12 x 12 in) 1 May 2020 - Lahore .jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D18. Figures in an enclosed room (12 x 12 in) 3 Mar 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D18. Figures in an enclosed room (12 x 12 in) 3 Mar 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D19. In my mind there is an image in a dark room, where figures point towards me while sounds of laughter and derision saturate the atmosphere (18 x 12 in) 22 Feb 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D19. In my mind there is an image in a dark room, where figures point towards me while sounds of laughter and derision saturate the atmosphere (18 x 12 in) 22 Feb 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D2. All my chickens come home to roost (24 x 24 in) 13 Oct 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D2. All my chickens come home to roost (24 x 24 in) 13 Oct 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D20. Addiction (12 x 12 in) 19 Feb 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D20. Addiction (12 x 12 in) 19 Feb 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D21. Grave (12 x 12 in) 17 Feb 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D21. Grave (12 x 12 in) 17 Feb 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D22. Full moon (12 x 12 in) 16 Feb 2020.jpg</figcaption>
<img src='/images/art/SherOils/D22. Full moon (12 x 12 in) 16 Feb 2020.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D23. Journey (12 x 12 in) 15 Feb 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D23. Journey (12 x 12 in) 15 Feb 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D24. Under an umbrella (12 x 12 in) 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D24. Under an umbrella (12 x 12 in) 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D25. Autumn day in barkaby (16 x 13 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D25. Autumn day in barkaby (16 x 13 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D26. Autumn (13 x 16 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D26. Autumn (13 x 16 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D27. Badshahi Mosque (29 x 24 in) 16 nov 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D27. Badshahi Mosque (29 x 24 in) 16 nov 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D28. Cityscape (18 x 22 in) 2015 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D28. Cityscape (18 x 22 in) 2015 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D29. Death in a bathtub (13 x 10 in) 16 D 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D29. Death in a bathtub (13 x 10 in) 16 D 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D3. Girl on sidewalk (8 x 8 in) 2 Oct 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D3. Girl on sidewalk (8 x 8 in) 2 Oct 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D30. Death of Mashal Khan (16 x 13 in) 18 Jan 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D30. Death of Mashal Khan (16 x 13 in) 18 Jan 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D31. Piece of heaven (13 x 16 in) 17 Feb 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D31. Piece of heaven (13 x 16 in) 17 Feb 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D32. Police brutality, Sahiwal (36 x 24 in) 28 jan 2019 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D32. Police brutality, Sahiwal (36 x 24 in) 28 jan 2019 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D34. Self-portrait (24 x 30 in) 2012 - Groningen.jpg</figcaption>
<img src='/images/art/SherOils/D34. Self-portrait (24 x 30 in) 2012 - Groningen.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D35. Spring (13 x 16 in) 10 Feb 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D35. Spring (13 x 16 in) 10 Feb 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D36. Study of imaginary flower (22 x 18 in) 8 Feb 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D36. Study of imaginary flower (22 x 18 in) 8 Feb 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D37. Summer (21 x 25 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D37. Summer (21 x 25 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D38. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D38. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D38b. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D38b. The beggar (36 x 23 in) 30 Dec 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D39. The embrace (16 x 13 in) 5 Aug 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D39. The embrace (16 x 13 in) 5 Aug 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D4. View of Badshai Mosque from balcony at night (24 x 24 in) 24 Aug 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D4. View of Badshai Mosque from balcony at night (24 x 24 in) 24 Aug 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D40. The flood (26 x 21 in) 6 Sep 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D40. The flood (26 x 21 in) 6 Sep 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D41. The mirror (24 x 36 in) 26 Dec 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D41. The mirror (24 x 36 in) 26 Dec 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D42. To paint is to love again (16 x 13 in) 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D42. To paint is to love again (16 x 13 in) 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D43. Untitled (21 x 26 in) 13 Jul 2018. Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D43. Untitled (21 x 26 in) 13 Jul 2018. Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D44. Untitled (18 x 18 in) 2011. Japan.jpg</figcaption>
<img src='/images/art/SherOils/D44. Untitled (18 x 18 in) 2011. Japan.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D45. View of Hagaparken, Solna (13 x 10 in) 27 D 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D45. View of Hagaparken, Solna (13 x 10 in) 27 D 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D46. Wednesday (39 x 31 in) 26 Apr 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D46. Wednesday (39 x 31 in) 26 Apr 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D47. Winter (26 x 21 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D47. Winter (26 x 21 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D48. Winter evening in Groningen (13 x 11 in) 20xx - Groningen .jpg</figcaption>
<img src='/images/art/SherOils/D48. Winter evening in Groningen (13 x 11 in) 20xx - Groningen .jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D49. Winter solstice (11 x 13 in) 22 Dec 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D49. Winter solstice (11 x 13 in) 22 Dec 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D5. The weasels are closing in (18 x 18 in) 11 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D5. The weasels are closing in (18 x 18 in) 11 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D50. A Wedding (10 x 10 in) 19 March 2019 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D50. A Wedding (10 x 10 in) 19 March 2019 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D51. Break on through to the other side (39 x 31 in) 8 Aug 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D51. Break on through to the other side (39 x 31 in) 8 Aug 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D52. Dreams (11 x 8 in) 2 May 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D52. Dreams (11 x 8 in) 2 May 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D53. Drudge (30 x 30 in) 28 Sep 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D53. Drudge (30 x 30 in) 28 Sep 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D54. Father (36 x 24in) 2019 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D54. Father (36 x 24in) 2019 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D55. Grand Jamia Mosque (26 x 21 in) 17 Dec 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D55. Grand Jamia Mosque (26 x 21 in) 17 Dec 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D56. I and Lahore (16 x 13 in) 11 May 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D56. I and Lahore (16 x 13 in) 11 May 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D57. I and my spirit (16 x 13 in) 26 Apr 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D57. I and my spirit (16 x 13 in) 26 Apr 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D58. I and Pakistan (22 x 18 in) 18 Sep 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D58. I and Pakistan (22 x 18 in) 18 Sep 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D59. I, and the graveyard (16 x 13 in) 21 Apr 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D59. I, and the graveyard (16 x 13 in) 21 Apr 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D6. Walk under the bridge (18 x 12 in) 9 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D6. Walk under the bridge (18 x 12 in) 9 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D60. Untitled (16 x 13 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D60. Untitled (16 x 13 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D61. Untitled (24 x 24 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D61. Untitled (24 x 24 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D62. Untitled (29 x 24 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D62. Untitled (29 x 24 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D63. Untitled (24 x 24 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D63. Untitled (24 x 24 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D64. Miguel (16 x 13 in) 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D64. Miguel (16 x 13 in) 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D65. Margalla Hills (16 x 13 in) 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D65. Margalla Hills (16 x 13 in) 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D66. Study Hilma Aft Klimt (16 x 13 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D66. Study Hilma Aft Klimt (16 x 13 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D67. Untitled (10 x 9 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D67. Untitled (10 x 9 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D68. Untitled (10 x 9 in) 20xx. Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D68. Untitled (10 x 9 in) 20xx. Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D7. Empty bowl (18 x 12 in) 7 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D7. Empty bowl (18 x 12 in) 7 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D70. Untitled (9 x 10 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D70. Untitled (9 x 10 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D72. Untitled (11 x 9 in) 20xx. Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D72. Untitled (11 x 9 in) 20xx. Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D73. Untitled (11 x 13 in) 21 Dec 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D73. Untitled (11 x 13 in) 21 Dec 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D74. Untitled (11 x 13 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D74. Untitled (11 x 13 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D75. Untitled (13 x 11 in) 23 Feb 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D75. Untitled (13 x 11 in) 23 Feb 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D76. Untitled (12 x12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D76. Untitled (12 x12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D77. Untitled (12 x 12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D77. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D78. Untitled (12 x 9 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D78. Untitled (12 x 9 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D79. Untitled (12 x 12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D79. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D8. There is a world beyond the material. I will meet you there (24 x 24 in) 6 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D8. There is a world beyond the material. I will meet you there (24 x 24 in) 6 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D80. Untitled (12 x 12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D80. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D81. Untitled (12 x 12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D81. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D82. Untitled (12 x 12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D82. Untitled (12 x 12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D83. Untitled (12 x12 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D83. Untitled (12 x12 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D84. Untitled (12 x 12 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D84. Untitled (12 x 12 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D85. Untitled (20 x 20 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D85. Untitled (20 x 20 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D86. Untitled (30 x 30 in) 20xx - Japan.jpg</figcaption>
<img src='/images/art/SherOils/D86. Untitled (30 x 30 in) 20xx - Japan.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D87. Untitled (12 x12 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D87. Untitled (12 x12 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D88. Untitled (12 x 12 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D88. Untitled (12 x 12 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D89. Untitled (20 x 20 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D89. Untitled (20 x 20 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D9. Forest dancers under moonlight (24 x 12 in) 5 Jul 2020 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D9. Forest dancers under moonlight (24 x 12 in) 5 Jul 2020 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D90. Untitled (18 x 18 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D90. Untitled (18 x 18 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D91. Untitled (30 x 24 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D91. Untitled (30 x 24 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D92. Untitled (24 x 35 in) 20xx - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D92. Untitled (24 x 35 in) 20xx - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D93. Self portrat with cigarette (21 x 25 in) 2017 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D93. Self portrat with cigarette (21 x 25 in) 2017 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D94. Karachi (24 x 24 in) 21 Jul 2018 - Lahore.jpg</figcaption>
<img src='/images/art/SherOils/D94. Karachi (24 x 24 in) 21 Jul 2018 - Lahore.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D95. Last glass (13 x 16 in) Feb 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D95. Last glass (13 x 16 in) Feb 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D96. Life goes on (12 x 18 in) 10 Aug 2018 - Unknown.jpg</figcaption>
<img src='/images/art/SherOils/D96. Life goes on (12 x 18 in) 10 Aug 2018 - Unknown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D97. Mama, the drugs dont work anymore (10 x 13 in) 20 Jan 2018 - Stockholm.jpg</figcaption>
<img src='/images/art/SherOils/D97. Mama, the drugs dont work anymore (10 x 13 in) 20 Jan 2018 - Stockholm.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D98. Untitled (23 x 25 in) 20xx - Unkown.jpg</figcaption>
<img src='/images/art/SherOils/D98. Untitled (23 x 25 in) 20xx - Unkown.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>D99. Untitled (18 x 24 in) .jpg</figcaption>
<img src='/images/art/SherOils/D99. Untitled (18 x 24 in) .jpg' style='width:100%'>
</div>
<a class='prev' onclick='plusSlides(-1)'>&#10094;</a>
<a class='next' onclick='plusSlides(1)'>&#10095;</a>
<div class='caption-container'>
<p id='caption'>
</p>
</div>
</div>
</div>
</div>

<div id="Watercolors" class="tabcontent">
</div>

<div id="Drawings" class="tabcontent">
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>