<meta name="viewport" content="width=device-width, initial-scale=1">

<ul>
  <li><a href = "mailto: sherslifework@gmail.com">sherslifework@gmail.com</a></li>
  <li><a href = "mailto: zarrar85@gmail.com">zarrar85@gmail.com</a></li>
</ul>

<p>Please email us with any questions. You can also contribute in the following ways:</p>

<ul>
  <li><strong><a href="/memories">Memories</a>:</strong> Share memories or stories of times with Sher or of any of Sher’s works.</li>
  <li><strong><a href="/critique">Shows & Critiques</a>:</strong> Write a more formal reaction or critique of Sher’s larger body.</li>
  <li><strong>Additional Works:</strong> Please let us know if you are aware of or possess any additional works which are not featured on this webpage.</li>
  <li><strong>Informal Comments:</strong> For more informal reactions and comments please use the official <a href="https://www.instagram.com/sherslifework/">instagram</a>, <a href="https://twitter.com/sherslifework">twitter</a> and <a href="https://www.facebook.com/Sherslifework-107327871176700/?view_public_for=107327871176700">facebook</a> accounts.</li>
  <li><strong><a href="/skf">Sher Khan Foundation</a>:</strong> Several of Sher’s friends and family want to start the “Sher Khan Foundation” to support research in Mental Healing and support for arts and sciences. Let us know if you have ideas or want to particpate.</li>
</ul>
