<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Events')">Events</button>
  <button class="tablinks" onclick="openCity(event, 'News')">News</button>
</div>
</center>

<div id='Events' class='tabcontent'>
<p></p>
<p></p>
<h3> Events </h3>
<p></p>
<ul>
  <li id="henryboxFeb2021">
  <div class="card" data-text="henryboxFeb2021">
  Henry Boxer Gallery - Feb 2020, <a href="https://www.outsiderart.co.uk/artists/sher-khan">"https://www.outsiderart.co.uk/artists/sher-khan"</a>
  <span class="dots">...</span>
  <span class="more" style="display: none;">
  <p></p>
	<blockquote> 
	<p>The Henry Boxer Gallery specialises in 'outsider art', art brut, self-taught, naive and visionary art. It is the leading gallery of its kind in the UK, and represents over 120 artist working in these genres. He also deals in Modern British art, with a particular interest in illustrators such as Louis Wain and Austin Osman Spare. Henry Boxer is a founding director of Raw Vision magazine. The gallery is happy to offer advice and valuations, and is constantly on the lookout for new discoveries.</p>
	<a href="https://www.outsiderart.co.uk/">"https://www.outsiderart.co.uk/"</a> 
	</blockquote></span>
  <buttonRead onclick="readMore('henryboxFeb2021')" class="myBtn">Read excerpt</buttonRead>
  </div> 
  </li>
</ul>
</div>

<div id='News' class='tabcontent'>
<p></p>
<p></p>
<h3> News </h3>
<p></p>
</div>
