<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'News')">News</button>
  <button class="tablinks" onclick="openCity(event, 'Events')">Events</button>
</div>
</center>

<div id='Events' class='tabcontent'>
<p></p>
<p></p>
<h3> Events </h3>
<p></p>
<ul>
  <li id="Event 1">
  <div class="card" data-text="story_event1">
  Event 1
  <span class="dots">...</span>
  <span class="more" style="display: none;">
  <p></p>
	<blockquote> 
	<p></p>
	<cite> - xxx </cite>
	</blockquote></span>
  <buttonRead onclick="readMore('story_event1')" class="myBtn">Read excerpt</buttonRead>
  </div> 
  </li>
</div>

<div id='News' class='tabcontent'>
<p></p>
<p></p>
<h3> News </h3>
<p></p>
</div>
