<meta name="viewport" content="width=device-width, initial-scale=1">

<div class='item'> 
<img src='/images/Webpage/sher_studio2.jpg' style='width:100%' onclick='openModal();currentSlide(1)' class='hover-shadow cursor'>
</div>

<p>Sher Khan (1986-2020) was a writer, physicist and self-taught artist who battled with manic depression and paranoia from his early teens. He lived and worked across the world: Pakistan, Japan, the Netherlands, Italy, France, Austria and China. His art and writings are a raw and honest look into the mental torments of an extreme introvert. A study of even his earliest works, watercolors from his high school years (2000-2005), reveal the beginnings of feelings of deep shame and guilt that become a prominent theme in his later works. He often discarded entire bodies of his work when he moved between locations, but his known works in existence include 400 drawings and paintings, 3 complete books, and numerous short stories, essays and letters.<p>

<h2 id="shers-walk-through-time">Sher’s Walk Through Time</h2>

<div class='item'> 
<img src='/images/Webpage/timeline.jpg' style='width:100%' onclick='openModal();currentSlide(2)' class='hover-shadow cursor'>
</div>

<p>Sher organized an exhibition of a series of watercolors he made while he was a patient at the Dandryd Sukhjus Psychiatric Ward in Sweden in 2016. The exhibition was attended by the staff and nurses at the facility. His book, <a href="/writing/#book_when_the_suffering_is_over">When the suffering is over</a>, written between 2012 to 2017, contains chapters that complement each of these works. Later, in 2018, Sher held another solo exhibition in his hometown of Lahore, titled "When the suffering is over - An exhibition about loneliness, dreams and madness". Several of Sher's paintings have also been included in the <a href="https://www.outsiderart.co.uk/artists/sher-khan"> Henry Boxer Gallery</a> in England. See <a href="/events">News & Events</a> for a full list of Sher's exhibitions and related events.<p>
 
<p>Sher was deeply loved by his family, friends and several partners, but was still plagued by constant feelings of alienation and loneliness. In his semi-autobiographical work, <a href="/writing/#book_ascenttomadness">Ascent to Madness</a>, written between 2010 to 2014, he describes this state: "What is more dreadful than appalling action is a mind riddled with anxiety and fear. And this unease transmutes into guilt. Guilt about being seen, about being heard. Given a choice, I would hover amongst the darkest shadows and crawl seamlessly through crowds unnoticed. And so my life is also one that is a constant struggle inflicted with the burden of passing each day inconspicuously whilst trying to maintain relationships within the limitations of ‘civilized’ society. I wish I were born another creature. Like a rat or a slug. It would suit me, or better yet, a being with little consciousness, like bacteria or some plant."<p>

<div id='myModal' class='modal'> 
<span class='close cursor' onclick='closeModal()'>&times;</span> 
<div class='modal-content'>
<div class='mySlides'>
<figcaption>Sher in his Studio</figcaption>
<img src='/images/Webpage/sher_studio2.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher's walk through time</figcaption>
<img src='/images/Webpage/timeline.jpg' style='width:100%'>
</div>
<a class='prev' onclick='plusSlides(-1)'>&#10094;</a>
<a class='next' onclick='plusSlides(1)'>&#10095;</a>
<div class='caption-container'>
<p id='caption'>
</p>
</div>
</div>
</div>