<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**
 * Masonary
 */
 
/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Masonry */

.masonry { /* Masonry container */
  column-count: 4;
  margin: 0.5em auto;
  max-width: 768px;
  column-gap: 0.25em;
}

.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 0.5em;
  width: 100%;
}

/* Figure Caption */

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
  
  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Tabs */

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Quote */
blockquote {
  border-left: 5px solid _palette(accent);
  color: _palette(secondary);
  font-size: 1.33333rem;
  font-style: italic;
  line-height: 1.5;
  margin: 2.5rem auto;
  max-width: 555px;
  padding-left: 1.25em;

  &:first-child {
    margin-top: 0
  }
}

</style>

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Memories')">Memories</button>
  <button class="tablinks" onclick="openCity(event, 'Pictures')">Pictures</button>
  <button class="tablinks" onclick="openCity(event, 'Videos')">Videos</button>
  <button class="tablinks" onclick="openCity(event, 'Audio')">Audio</button> 
  <button class="tablinks" onclick="openCity(event, 'Inspired')">Inspired</button> 
</div>
</center>

<div id='Memories' class='tabcontent'>
<p></p>
<p></p>
<h4> Memories </h4>
<p></p>
<blockquote> "Your memory or story..." 
<cite> - Anonymous </cite>
</blockquote>
</div>

<div id='Pictures' class='tabcontent'>
<p></p>
<p></p>
<h4> Pictures </h4>
<p></p>
<div class='masonry'>
<div class='item'> 
<img src='/images/MemoryPictures/Spain/Seville2_2014.jpg' style='width:100%' onclick='openModal();currentSlide(1)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Spain/Cordoba5_2014.jpg' style='width:100%' onclick='openModal();currentSlide(2)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Japan/MiguelSher.jpg' style='width:100%' onclick='openModal();currentSlide(3)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Agha/sherZarrar1.jpg' style='width:100%' onclick='openModal();currentSlide(4)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Erica/sherWork1.jpg' style='width:100%' onclick='openModal();currentSlide(5)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Erica/sherWork3.jpg' style='width:100%' onclick='openModal();currentSlide(6)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Sehrish/sherWork1.jpeg' style='width:100%' onclick='openModal();currentSlide(7)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryPictures/Sehrish/sherWork2.jpeg' style='width:100%' onclick='openModal();currentSlide(8)' class='hover-shadow cursor'>
</div>
</div>
</div>

<div id='Videos' class='tabcontent'>
<p></p>
<p></p>
<h5> Videos </h5>
<p></p>
<p style="font-size: 0.75em"> Sher Japan Jam </p>
<video controls>
  <source src='/images/MemoryVideos/untitled1.mp4' type="video/mp4">
</video>
</div>
<div id='Audio' class='tabcontent'>
<p></p>
<p></p>
<h5> Audio </h5>
<p></p>
<caption> I've been everywhere man - Johnny Cash (Pak version) </caption>
<p></p>
<audio controls>
  <source src='/images/MemoryAudio/been_every_pak.mp3' type="audio/mp3">
</audio>
</div>

<div id='Inspired' class='tabcontent'>
<p></p>
<p></p>
<h4> Inspired </h4>
<p></p>
<div class='masonry'>
<div class='item'> 
<img src='/images/MemoryOthers/erica_Sher1.jpg' style='width:100%' onclick='openModal();currentSlide(9)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryOthers/erica_Sher2.jpg' style='width:100%' onclick='openModal();currentSlide(10)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryOthers/erica_Sher5.jpg' style='width:100%' onclick='openModal();currentSlide(11)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/MemoryOthers/zarrar_Brothers.jpg' style='width:100%' onclick='openModal();currentSlide(12)' class='hover-shadow cursor'>
</div>
</div>
</div>

<div id='myModal' class='modal'> 
<span class='close cursor' onclick='closeModal()'>&times;</span> 
<div class='modal-content'>
<div class='mySlides'>
<figcaption>Sher & Zarrar - Seville -2014 (Photo by Manal)</figcaption>
<img src='/images/MemoryPictures/Spain/Seville2_2014.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher - Cordoba - 2014 (Photo by Manal)</figcaption>
<img src='/images/MemoryPictures/Spain/Cordoba5_2014.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher & Miguel - Japan</figcaption>
<img src='/images/MemoryPictures/Japan/MiguelSher.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher & Zarrar - Karachi - 1990 (Photo by Khalid)</figcaption>
<img src='/images/MemoryPictures/Agha/sherZarrar1.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher - Sweden (Photo by Erica) </figcaption>
<img src='/images/MemoryPictures/Erica/sherWork1.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher - Sweden (Photo by Erica) </figcaption>
<img src='/images/MemoryPictures/Erica/sherWork3.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher - Lahore - 2018 (Photo by Sehrish) </figcaption>
<img src='/images/MemoryPictures/Sehrish/sherWork1.jpeg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Sher - Lahore - 2018 (Photo by Sehrish) </figcaption>
<img src='/images/MemoryPictures/Sehrish/sherWork2.jpeg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption> Untitled - (by Erica) </figcaption>
<img src='/images/MemoryOthers/erica_Sher1.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption> Untitled - (by Erica) </figcaption>
<img src='/images/MemoryOthers/erica_Sher2.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption> Untitled - (by Erica) </figcaption>
<img src='/images/MemoryOthers/erica_Sher5.jpg' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption> Untitled - (by Zarrar) </figcaption>
<img src='/images/MemoryOthers/zarrar_Brothers.jpg' style='width:100%'>
</div>
<a class='prev' onclick='plusSlides(-1)'>&#10094;</a>
<a class='next' onclick='plusSlides(1)'>&#10095;</a>
<div class='caption-container'>
<p id='caption'>
</p>
</div>
</div>
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}

function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>