<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Relevant Literature')">Relevant Literature</button>
  <button class="tablinks" onclick="openCity(event, 'Others')">Others</button>
</div>
</center>

<div id='Relevant Literature' class='tabcontent'>
<p></p>
<p></p>
<h3> Relevant Literature </h3>
<p></p>
<ul>
  <li><a href="https://www.psychologytoday.com/us/blog/word-less/201904/the-suicidal-artist">"The Suicidal Artist"</a> (2019), Ewan Morrison</li>
  </ul>
</div>

<div id='Others' class='tabcontent'>
<p></p>
<p></p>
<h3> Others </h3>
<p></p>
<ul>
  <li>Virginia Woolf</li>
  <li>Vincent van Gogh</li>
  <li>Sylvia Plath</li>
  <li>Edvard Munch</li>
</ul>
</div>
