<meta name="viewport" content="width=device-width, initial-scale=1">

<p>This page lists some of Sher's publications, degrees and CV. He was also working on several independent science projects and mathematical problems which are currently inaccesible. Those will also be listed here as they become available.</p>

<!-- Tab links -->
<center>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Degrees')">Degrees</button>
  <button class="tablinks" onclick="openCity(event, 'Publications')">Publications</button>
  <button class="tablinks" onclick="openCity(event, 'CV')">CV</button> 
  <button class="tablinks" onclick="openCity(event, 'Unpublished')">Unpublished</button> 
</div>
</center>

<div id='Degrees' class='tabcontent'>
<p></p>
<p></p>
<h4> Degrees </h4>
<p></p>
<div class='masonry'>
<div class='item'> 
<img src='/images/Science/degreePhDSweden.JPG' style='width:100%' onclick='openModal();currentSlide(1)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeMastersGroningen1.JPG' style='width:100%' onclick='openModal();currentSlide(2)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeMastersGroningen2.JPG' style='width:100%' onclick='openModal();currentSlide(3)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeMastersGroningen3.JPG' style='width:100%' onclick='openModal();currentSlide(4)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeBachelorsJapan1.JPG' style='width:100%' onclick='openModal();currentSlide(5)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeBachelorsJapan2.JPG' style='width:100%' onclick='openModal();currentSlide(6)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeBachelorsJapan3.JPG' style='width:100%' onclick='openModal();currentSlide(7)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeBachelorsJapan4.JPG' style='width:100%' onclick='openModal();currentSlide(8)' class='hover-shadow cursor'>
</div>
<div class='item'> 
<img src='/images/Science/degreeBachelorsJapan5.JPG' style='width:100%' onclick='openModal();currentSlide(9)' class='hover-shadow cursor'>
</div>
</div>
</div>
<div id='Publications' class='tabcontent'>
<p></p>
<p></p>
<h4> Publications </h4>
<p></p>
<ul>
  <li style="font-size: 0.75em"><strong>PhD Thesis:</strong> Khan, S., 2018. Combined Quantum Mechanical and Molecular Dynamics study of paramagnetic complexes: Towards an understanding of electronic spin relaxation (Doctoral dissertation, Department of Physics, Stockholm University). <a href="https://www.diva-portal.org/smash/record.jsf?pid=diva2:1200261">https://www.diva-portal.org/smash/record.jsf?pid=diva2:1200261</a></li>
  <li style="font-size: 0.75em"> Khan, S., Peters, V., Kowalewski, J. and Odelius, M., 2018. Zero-field splitting in the isoelectronic aqueous Gd (III) and Eu (II) complexes from a first principles analysis. Chemical Physics, 503, pp.56-64. <a href="https://doi.org/10.1016/j.chemphys.2018.02.002">DOI:10.1016/j.chemphys.2018.02.002</a></li>
  <li style="font-size: 0.75em"> Khan, S., Pollet, R., Vuilleumier, R., Kowalewski, J. and Odelius, M., 2017. An ab initio CASSCF study of zero field splitting fluctuations in the octet ground state of aqueous [Gd (iii)(HPDO3A)(H2O)]. The Journal of Chemical Physics, 147(24). <a href="https://doi.org/10.1063/1.5010347">DOI:10.1063/1.5010347</a></li> 
  <li style="font-size: 0.75em"> Khan, S., Kubica-Misztal, A., Kruk, D., Kowalewski, J. and Odelius, M., 2015. Systematic theoretical investigation of the zero-field splitting in Gd (III) complexes: Wave function and density functional approaches. The Journal of chemical physics, 142(3), p.034304. <a href="https://doi.org/10.1063/1.4905559">DOI:10.1063/1.4905559</a></li>
  <li style="font-size: 0.75em"> Dixon, I.M., Khan, S., Alary, F., Boggio-Pasqua, M. and Heully, J.L., 2014. Probing the photophysical capability of mono and bis (cyclometallated) Fe (II) polypyridine complexes using inexpensive ground state DFT. Dalton Transactions, 43(42), pp.15898-15905. <a href="https://doi.org/10.1039/C4DT01939C">DOI:10.1039/C4DT01939C</a></li>
</ul>
</div>
<div id='CV' class='tabcontent'>
<p></p>
<p></p>
<h4> CV </h4>
<p></p>
<iframe src="/images/Science/S.Khan_CV_2019Mod.pdf" width="100%" height="500px">
    </iframe>
</div>
<div id='Unpublished' class='tabcontent'>
<p></p>
<p></p>
<h4> Unpublished </h4>
<p></p>
Unpublished works and projects of Sher will be placed here.
</div>

<div id='myModal' class='modal'> 
<span class='close cursor' onclick='closeModal()'>&times;</span> 
<div class='modal-content'>
<div class='mySlides'>
<figcaption>Doctor of Philosophy in Chemical Physics - Stockholm University</figcaption>
<img src='/images/Science/degreePhDSweden.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Master of Chemistry - University of Gronigen</figcaption>
<img src='/images/Science/degreeMastersGroningen1.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Master of Chemistry - University of Gronigen</figcaption>
<img src='/images/Science/degreeMastersGroningen2.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Master of Chemistry - University of Gronigen</figcaption>
<img src='/images/Science/degreeMastersGroningen3.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Bachelor of Engineering - University of Toyoma</figcaption>
<img src='/images/Science/degreeBachelorsJapan1.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Bachelor of Engineering - University of Toyoma</figcaption>
<img src='/images/Science/degreeBachelorsJapan2.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Bachelor of Engineering - University of Toyoma</figcaption>
<img src='/images/Science/degreeBachelorsJapan3.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Intensive Japanese Program  - Osaka University of Foreign Studies</figcaption>
<img src='/images/Science/degreeBachelorsJapan4.JPG' style='width:100%'>
</div>
<div class='mySlides'>
<figcaption>Intensive Japanese Program  - Osaka University of Foreign Studies</figcaption>
<img src='/images/Science/degreeBachelorsJapan5.JPG' style='width:100%'>
</div>
<a class='prev' onclick='plusSlides(-1)'>&#10094;</a>
<a class='next' onclick='plusSlides(1)'>&#10095;</a>
<div class='caption-container'>
<p id='caption'>
</p>
</div>
</div>
</div>

