<!-- <script src="/assets/js/slideshow.js"></script> -->

	<div class="cssbox">
        <a id="image1" href="#image1"><img class="cssbox_thumb" src="/images/1.jpg" />
            <span class="cssbox_full"><img src="/images/1.jpg" /></span>
        </a>
        <a class="cssbox_close" href="#void"></a>
        <a class="cssbox_prev" href="#image3">&lt;</a>
        <a class="cssbox_next" href="#image2">&gt;</a>
    </div>

    <div class="cssbox">
        <a id="image2" href="#image2"><img class="cssbox_thumb" src="/images/2.jpg" />
            <span class="cssbox_full"><img src="/images/1.jpg" /></span>
        </a>
        <a class="cssbox_close" href="#void"></a>
        <a class="cssbox_prev" href="#image1">&lt;</a>
        <a class="cssbox_next" href="#image3">&gt;</a>
    </div>
	
	 <div class="cssbox">
        <a id="image3" href="#image3"><img class="cssbox_thumb" src="/images/3.jpg" />
            <span class="cssbox_full"><img src="/images/1.jpg" /></span>
        </a>
        <a class="cssbox_close" href="#void"></a>
        <a class="cssbox_prev" href="#image2">&lt;</a>
        <a class="cssbox_next" href="#image1">&gt;</a>
    </div>